* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#log-container {
    background: linear-gradient(135deg, #74ebd5, #9face6);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log-box {
    background-color: rgb(255, 255, 255);
    padding: 25px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(86, 86, 210);
    margin-top: 20px;
}

#log-form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input {
    width: 100%;
    margin-top: 6px;
    padding: 10px 12px;

    border: 2px solid rgba(116, 235, 213, 0.8);
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.6);
    color: #2b2b2b;

    font-size: 14px;

    outline: none;
    transition: 0.3s ease;
    transition: border-color 0.3s ease;
}

input::placeholder {
    color: rgba(50, 50, 50, 0.55);
}

input:focus {
    border: 1px solid rgba(159, 172, 230, 1);
    box-shadow: 0px 0px 12px rgba(159, 172, 230, 0.7);
    background: rgba(255, 255, 255, 0.85);
}

#loginBtn {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 14px;
    cursor: pointer;

    background: linear-gradient(135deg, #3b82f6, #8b5cf6);
    color: white;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.35);
    transition: 0.3s ease;
}

/* button hover */
/* #registerBtn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 15px 30px rgba(59, 130, 246, 0.5);
} */


#footer {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

#footer a {
    color: blue;
    text-decoration: none;
}

#SuccessToast {
    margin-top: 15px;
    background-color: green;
    border: 1px green solid;
    border-radius: 17px;
    padding: 6px 3px;
    color: white;
    transition: 300ms;
    opacity: 0;
    box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.35);
}

#FailToast {
    background-color: red;
    border: 1px red solid;
    border-radius: 17px;
    padding: 6px 3px;
    color: white;
    transition: 300ms;
    opacity: 0;
    box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.35);
}