* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#reg-container {
  background: linear-gradient(135deg, #74ebd5, #9face6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reg-box {
  background-color: rgb(255, 255, 255);
  border: #74ebd5 solid 2px;
  padding: 25px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.Confirm-active {
  display: none;
  text-align: center;
  padding: 15px 30px;
  border-radius: 14px;
  background-color: rgb(17, 137, 55);
  color: white;
}

#title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(86, 86, 210);
}

#reg-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 100%;
  margin-top: 6px;
  padding: 10px 12px;

  border: 2px solid rgba(116, 235, 213, 0.8);
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.6);
  color: #2b2b2b;

  font-size: 14px;

  outline: none;
  transition: 0.3s ease;
  transition: border-color 0.3s ease;
}

input::placeholder {
  color: rgba(50, 50, 50, 0.55);
}

input:focus {
  border: 1px solid rgba(159, 172, 230, 1);
  box-shadow: 0px 0px 12px rgba(159, 172, 230, 0.7);
  background: rgba(255, 255, 255, 0.85);
}

#registerBtn {
  padding: 12px 30px;
  border: none;
  border-radius: 14px;
  cursor: pointer;

  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  color: white;
  font-size: 16px;
  font-weight: 600;

  box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.35);
  transition: 0.3s ease;
}

#footer {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
